{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<h1>TSDR Consulting</h1>
<p>Your Guide to Efficient Business Solutions</p>

<h2>Let's Shape the Future Together!</h2>
<p>We believe in building connections and enhancing technological prowess. Reach out, and let’s explore the horizons of possibilities together.</p>

<section id="contact-info">
    <h3>Contact Information</h3>
    <!--<p><strong>Email:</strong> <a href="mailto:rychly321@gmail.com">rychly321@gmail.com</a></p>-->
    <p><strong>GitHub:</strong> <a href="https://github.com/DanielRychly" target="_blank">https://github.com/DanielRychly</a></p>
</section>

{% endblock %}